<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Khoa Sư Phạm - Trường Đại Học Thủ Dầu Một</title>
    <link rel="icon" type="image/png" sizes="32x16" href="~/img/favicon-32x16.png">
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Action("_Header")

    @Html.Action("_Menu")

    <div class="">
        @RenderBody()
    </div>
    @Html.Action("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/home2019/jQuery.succinct.min.js"></script>
    @RenderSection("scripts", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73884539-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-73884539-1');
    </script>
</body>
</html>
