@model KhoaXayDung.Models.AlbumVideoHinhAnh

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}

<h2>Thêm mới</h2>

@using (Html.BeginForm("Create", "QLAlbum", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>
                    Loại album
                </label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("IdAlbum", null, "Chọn loại", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdAlbum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="idform" style="display: none">
            <div class="form-group">
                <div class="control-label col-md-2">
                    <label>
                        Tiêu đề
                    </label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TenVideoHinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenVideoHinhAnh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">
                    <label>
                        Mô tả
                    </label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">
                    <label>
                        File
                    </label>
                </div>
                <div class="col-md-8">
                    <input type="file" multiple name="Files" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Files, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">
                    <label>
                        Link Nhúng Youtube
                    </label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.LinkNhung, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LinkNhung, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">
                    <label>
                        Hiển thị
                    </label>
                </div>
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Show)
                        @Html.ValidationMessageFor(model => model.Show, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="Thêm" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        CheckMainForm();
        $("#IdAlbum").change(function () {
            CheckMainForm();
        })
    })
    function CheckMainForm() {
        var selected = $("#IdAlbum").val();
        if (selected != "") {
            $("#idform").show();
        }
        else {
            $("#idform").hide();
        }
    }
</script>
