@model KhoaXayDung.Models.AlbumVideoHinhAnh

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AlbumVideoHinhAnh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenVideoHinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenVideoHinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Files)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Files)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiAlbum.TenAlbum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiAlbum.TenAlbum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
