@model IEnumerable<KhoaXayDung.Models.QCLink>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenQC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Show)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaND)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenQC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @if(item.H!=null)
            { 
                <img src="~/img/ckeditor/Images/@Html.DisplayFor(modelItem => item.H)" width="200px" height="auto" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Show)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.HT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaQC }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaQC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaQC })
        </td>
    </tr>
}

</table>
