@model IEnumerable<KhoaXayDung.Models.Info>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma })*@
        </td>
    </tr>
}

</table>
