@model IEnumerable<KhoaXayDung.Models.LoaiAlbum>

@{
    ViewBag.Title = "Loại Album";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}

<h2>Loại Album</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên album
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenAlbum)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.IdAlbum }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.IdAlbum }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.IdAlbum })
        </td>
    </tr>
}

</table>
