@model IEnumerable<KhoaXayDung.Models.Tin>
@{
    Layout = "~/Views/Shared/_LayoutWebsite2018.cshtml";
}

<div id="maincontent">
    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 breadcrumb">
                    <ul>
                        <li><a href="/">Trang Chủ<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        <li>
                            <span id="dnn_dnnBreadcrumb_lblBreadCrumb"><a href="#" class="item">@ViewBag.TenLoaiTin</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div id="dnn_ContentPane">
                        <div class="DnnModule DnnModule-Tintc-Hinthtrangtin DnnModule-3512">
                            <a name="3512"></a><div id="dnn_ctr3512_ContentPane">
                                <!-- Start_Module_3512 -->
                                <div id="dnn_ctr3512_ModuleContent">
                                    <div id="list_news">
                                        @if (Model.Count() > 0)
                                        {
                                            <div class='article' style="padding-bottom:10px;">
                                                <h3>@Model.FirstOrDefault().LoaiTin.TenLT</h3>
                                                <p class='des'></p>
                                            </div>
                                            <div class="list-news">
                                                <div class="buhlist-article">
                                                    @foreach (var item in Model)
                                                    {
                                                        <div class="media">
                                                            <div class="object">
                                                                <span class="day">@item.NgayDang.Value.Day</span>
                                                                <span class="date">@item.NgayDang.Value.Month/@item.NgayDang.Value.Year</span>
                                                            </div>
                                                            <div class="body">
                                                                <h3><a href="/danh-muc/@item.LoaiTin.khongdau/@item.Link">@item.TenT</a></h3>
                                                                <p class='des'></p>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                        }

                                    </div>

                                </div><!-- End_Module_3512 -->
                            </div>
                        </div>
                        <div class="DnnModule DnnModule-Tintc-HinthtinKHC DnnModule-10008">
                            <a name="10008"></a><div id="dnn_ctr10008_ContentPane">
                                <!-- Start_Module_10008 --><div id="dnn_ctr10008_ModuleContent">

                                </div><!-- End_Module_10008 -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="section3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div id="dnn_FooterBanner" class="DNNEmptyPane"></div>
                </div>
            </div>
        </div>
    </div>
</div>

