@using KhoaXayDung.Models;
@{
    KhoaXayDungEntities db = new KhoaXayDungEntities();
    var thongbao = db.LoaiTins.Find(46);
    var tkb = db.LoaiTins.Find(47);
    var lichthi = db.LoaiTins.Find(48);
    var tintuc = db.LoaiTins.Find(41);
    var hoclieu = db.LoaiTins.Find(1056);
    //   var htqt = db.LoaiTins.Find(49);
    // var congdoan = db.LoaiTins.Find(50);
    var MenuPhai = db.ChitietMenus.Where(w => w.IdCha == null && w.IdMenu == 2).OrderBy(o => o.STT).ToList();
}
@functions {
        KhoaXayDungEntities db = new KhoaXayDungEntities();

        public List<ChitietMenu> subMenu(int idcha)
        {
            var list = db.ChitietMenus.Where(w => w.IdCha == idcha).OrderBy(o => o.STT).ToList();
            return list;
        }
        public string Link(ChitietMenu menu)
        {
            string link = "#";
            if (menu.Page != null)
            {
                link = "/bai-viet/" + menu.Page.Link.ToString();
            }
            if (menu.LoaiTin != null)
            {
                link = "/danh-muc/" + menu.LoaiTin.khongdau.ToString();
            }
            if (menu.LinkTuDo != null)
            {
                link = menu.LinkTuDo.Link.ToString();
            }
            return link;
        }
        public string MenuName(ChitietMenu menu)
        {
            string Menu = "";
            if (menu.Page != null)
            {
                Menu = menu.Page.TenT.ToString();
            }
            if (menu.LoaiTin != null)
            {
                Menu = menu.LoaiTin.TenLT.ToString();
            }
            if (menu.LinkTuDo != null)
            {
                Menu = menu.LinkTuDo.TenLink.ToString();
            }
            return Menu;
        }

}
<style>
    #accordion .panel .panel-collapse > .list-group .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    #accordion .panel .panel-collapse > .list-group .list-group-item {
        border-width: 1px 0;
    }

    #accordion .panel .panel-collapse > .list-group {
        margin-bottom: 0;
    }

    #accordion .panel .panel-collapse .list-group-item {
        border-radius: 0;
    }

    #accordion .panel .panel-collapse .list-group .list-group {
        margin: 0;
        margin-top: 10px;
    }

    #accordion .panel .panel-collapse .list-group-item li.list-group-item {
        margin: 0 -15px;
        border-top: 1px solid #ddd !important;
        border-bottom: 0;
        padding-left: 30px;
    }

        #accordion .panel .panel-collapse .list-group-item li.list-group-item:last-child {
            padding-bottom: 0;
        }

    #accordion .panel .panel-collapse div.list-group div.list-group {
        margin: 0;
    }

    #accordion .panel .panel-collapse div.list-group .list-group a.list-group-item {
        border-top: 1px solid #ddd !important;
        border-bottom: 0;
        padding-left: 30px;
    }

    #accordion .panel .panel-collapse .list-group-item li.list-group-item {
        border-top: 1px solid #DDD !important;
    }






    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'FontAwesome'; /* essential for enabling glyphicon */
        content: "\f107"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: grey; /* adjust as needed */
    }



    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f105"; /* adjust as needed, taken from bootstrap.css */
    }
</style>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @foreach (var _menu in MenuPhai)
    {
        <div class="panel panel-default">

            @if (subMenu(_menu.ID).Count() > 0)
            {  <div class="panel-heading openpanell" role="tab" id="heading@_menu.ID">
                <h4 class="panel-title accordion-toggle  paneltitle" data-toggle="collapse" data-parent="#accordion" href="#collapse@_menu.ID" aria-expanded="true" aria-controls="collapse@_menu.ID">
                    <a href="@Link(_menu)">@MenuName(_menu)</a>
                </h4>
            </div> }
            else
            {<div class="panel-heading" role="tab" id="heading@_menu.ID">
                <h4 class="panel-title">
                    <a href="@Link(_menu)">@MenuName(_menu)</a>
                </h4>
            </div>
            }

            @if (subMenu(_menu.ID).Count() > 0)
            {
                <div id="collapse@_menu.ID" class="panel-collapse collapse abc" role="tabpanel" aria-labelledby="heading@_menu.ID">
                    <div class="list-group">
                        @foreach (var _sub in subMenu(_menu.ID))
                        {
                            if (subMenu(_sub.ID).Count() > 0)
                            {
                                <a href="@Link(_sub)" class="list-group-item">@MenuName(_sub)</a>
                                foreach (var sub2 in subMenu(_sub.ID))
                                {
                                    <div class="list-group">
                                        <a href="@Link(sub2)" class="list-group-item">@MenuName(sub2)</a>
                                    </div>
                                }
                            }
                            else
                            {
                                <a href="@Link(_sub)" class="list-group-item">@MenuName(_sub)</a>
                            }
                        }


                    </div>

                </div>
            }

        </div>
    }

</div>
@*<div class="list-group">
    <a href="@Url.RouteUrl("CategoryList", new { khong_dau=tintuc.khongdau })" c class="list-group-item">@tintuc.TenLT</a>
    <a href="@Url.RouteUrl("CategoryList", new { khong_dau=thongbao.khongdau })" class="list-group-item">@thongbao.TenLT</a>
    <a href="@Url.RouteUrl("CategoryList", new { khong_dau=hoclieu.khongdau })" class="list-group-item">@hoclieu.TenLT</a>
    <a href="@Url.RouteUrl("CategoryList", new { khong_dau=lichthi.khongdau })" class="list-group-item">@lichthi.TenLT</a>
    <a href="@Url.RouteUrl("CategoryList", new { khong_dau=tkb.khongdau })" class="list-group-item">@tkb.TenLT</a>

    @*<a href="@Url.RouteUrl("CategoryList", new { khong_dau=htqt.khongdau })" class="list-group-item">@htqt.TenLT</a>*@
@*<a href="@Url.RouteUrl("CategoryList", new { khong_dau=congdoan.khongdau })" class="list-group-item">@congdoan.TenLT</a>*@
@*</div>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {
        if ($('.abc').hasClass('in')) {

        } else {

            $('.openpanell .paneltitle').addClass('collapsed');
        }
    });

</script>
@Html.Action("_LienKetWeb", "Home")

