@model KhoaXayDung.Models.Info


<div class="text-center">
    <i class="fa fa-copyright"></i> @DateTime.Now.Year - @Model.Ten <br />
    <i class="fa fa-road"></i> @Model.DC  <br />
    <i class="fa fa-phone-square"></i> @Model.Phone<br />
    <i class="fa fa-envelope"></i> @Model.Email
    
</div>
